#count {
  display: inline;
  text-transform: bold;
  text-align: right;
}

#logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/holberton-logo.jpg');
  background-size: 200 200;
}
